body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
}

.header {
  background-color: #bee3db;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
}

.header button {
  font-size: 1.05em;
  color: white;
  background-color: #555b6e;
  border: none;
  border-radius: 10px;
  margin-right: 40px;
  padding: 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.2s;
}

input {
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  padding: 0.3em 0.6em;
  background-color: ;
}

#read-status {
  margin-right: 5px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form button {
  margin-right: 0;
}

.header h1 {
  color: #555b6e;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 40px;
}

.form {
  position: absolute;
  right: 180px;
}

.form div {
  display: inline;
}

.invisible {
  display: none;
}

.container {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  position: relative;
  background-color: #fff5ee;
  margin: 26px;
  width: 260px;
  height: 220px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-symbols-outlined {
  cursor: pointer;
  font-size: 0.95em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-top #title {
  font-size: 20px;
  font-weight: bold;
  margin: 2.5em 0 2em;
}

.card-bottom {
  background-color: #afd4d3d4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

#read-status {
  cursor: pointer;
}
